* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: grey;

}
.bg{
height: 100%;
width: 100%;
position: relative;
background-color: skyblue;
}

.main {
    padding: 20px;
    height: 90%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stories{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    padding: 3px;
    overflow: auto;
    overflow-y: hidden;

    
}
#stories::-webkit-scrollbar{
    display: none;
}
#story{
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    border: 3px solid red ;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;

}
#story>img{
    height: 100%;
    width: 100%;
  object-fit: cover;
}

#fullpreview{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0%;
    left: 0%;
    border-radius: 20px;
    z-index: 9;
    /* background-color: wheat; */
    overflow: hidden;
    
}
#cross{
    position: absolute;
    top: 30px;
    font-size: 20px;
    /* background-color: red; */
    color: white;
    right: 5px;
    transform: translate(-50%, -50%);
}
#growth{
    height:.25rem;
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 8px;
}
